@import normalize.scss
@import reset.scss
@font-face
    font-family: 'Montserrat Semibold'
    src: url('../fonts/Montserrat-SemiBold.eot')
    src: url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype') url('../fonts/Montserrat-SemiBold.woff') format('woff') url('../fonts/Montserrat-SemiBold.ttf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'Montserrat Regular'
    src: url('../fonts/Montserrat-Regular.eot')
    src: url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype') url('../fonts/Montserrat-Regular.woff') format('woff') url('../fonts/Montserrat-Regular.ttf') format('truetype')
    font-weight: normal
    font-style: normal
@font-face
    font-family: 'Montserrat Light'
    src: url('../fonts/Montserrat Light.eot')
    src: url('../fonts/Montserrat Light.eot?#iefix') format('embedded-opentype') url('../fonts/MMontserrat Light.woff') format('woff') url('../fonts/Montserrat Light.ttf') format('truetype')
    font-weight: normal
    font-style: normal

.container
    max-width: 1140px
    margin: 0 auto
.main-section
    height: 800px
    background: #F0F0F0
    padding-top: 16px
    &__nav-container
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        height: 69px
    &__logo
        display: block
        width: 134px
        height: 69px
.nav-menu
    &__list
        display: flex
        flex-direction: row
    &__list-item
        margin-right: 64px
        font-family: 'Montserrat Semibold'
        font-size: 18px
        font-weight: 600
        &:last-child
            margin-right: 0
